* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #545456;
}

a {
  color: rgb(100, 211, 211);
  text-shadow: 1px 1px 0px #545456;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s; 
}
  
a:hover {
  color: #f9f645;
  text-shadow: 1px 0px 3px #545456;
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgb(95, 95, 95);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 74em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 44em) and (max-width: 74em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 44em) {
  .btn {
    padding: 0.75rem;
    font-size: 0.9rem; 
  }
  .btn + .btn {
    margin-top: 1rem;
    margin-left: 0; 
  } 
}

.page-header {
  font-family: "Roboto", "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
  color: #545456;
  display: flex;
}

.page-header-text {
  position: relative;
  left: 15px;
}

.project-name {
  font-size: 1.75rem;
  font-family: "Bevan", serif;
  font-weight: normal;
  margin: 0;
}

.project-tagline {
  font-weight: normal;
  font-size: 1.15rem;
  opacity: 0.7; 
  margin: 0;
}

.hello-header {
  margin: 4rem auto;
}

@media screen and (min-width: 74em) {
  .hello-header {
    max-width: 43rem;
    font-size: 2rem;
  } 
}

@media screen and (min-width: 44em) and (max-width: 74em) {
  .hello-header {
    max-width: 40rem;
    font-size: 1.8rem;
  } 
}

@media screen and (max-width: 44em) {
  .hello-header {
    max-width: 21.7rem;
    font-size: 1.8rem; 
  }
}

.text-highlight {
  font-family: "Kadwa", serif;
  color: #f9f645;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #545456;
  text-shadow: 2px 2px 0px #545456;
}

.main-container {
  background-color: white;
  border-radius:8px;
  cursor: default;
}
.main-container :first-child {
  margin-top: 0; 
}
.main-container p {
  margin-bottom: 0; 
}
.main-container code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-container pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-container pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-container .highlight {
  margin-bottom: 1rem; }
  .main-container .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-container .highlight pre, .main-container pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-container pre code, .main-container pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-container pre code:before, .main-container pre code:after, .main-container pre tt:before, .main-container pre tt:after {
    content: normal; }
.main-container ul, .main-container ol {
  margin-top: 0; }
.main-container blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-container blockquote > :first-child {
    margin-top: 0; }
  .main-container blockquote > :last-child {
    margin-bottom: 0; }
.main-container table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-container table th {
    font-weight: bold; }
  .main-container table th, .main-container table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-container dl {
  padding: 0; }
  .main-container dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-container dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-container hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

.external-links {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.external-links .external-link {
  font-weight: bold;
  font-family: "Roboto", "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
}

.external-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: larger;
  transition: 0.2s;
}

.main-content {
  margin-top: 2rem;
}

.content-row {
  display: flex;
  gap: 10%;
  justify-content: center;
}

.content-row:not(:last-of-type) {
  margin-bottom: 4rem;
}

.row-text {
  width: 100%;
  cursor: default;
  margin-bottom: .5em;
  font-size: 16px;
  font-style: italic;
}

.portrait-image-container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}
.portrait-image {
  border-radius: 50%;
  border: 1px solid #545456;
  width: 256px;
}
.portrait-pre-content {
  display: none;
}

.contact-form-container {
  border: 1px solid #545456;
  width: 100%;
}

.btn {
  background:rgb(100, 211, 211);
  text-shadow: 1px 1px 3px #5454567a;  
  box-shadow: 1px 1px 0px #8f8f91;  
  font-weight: bold;
  text-decoration: none;
  color: #f9f645;
  border-radius: 0;
}

.btn:hover {
  background: #f9f645;
  color: rgb(100, 211, 211);
  text-shadow: 1px 1px 0px #545456;
  box-shadow: 2px 0px 7px #5a5a5a60;
  transition: 0.2s;
}

.text-highlight-blue {
  color: rgb(97, 97, 97);
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s; 
}
  
.text-highlight-blue:hover {
  color: #f9f645;
  text-decoration: none;
}

@media screen and (min-width: 74em) {  
  .main-container {
    max-width: 64rem;
    margin: 4rem auto;
    font-size: 1.1rem; 
  } 

  .header-content {
    margin-left: auto;
  }
  
  .contact-form-container {
    padding: 3rem 5rem;
  }
  
  .portrait-image {
    box-shadow: 0px 0px 40px rgba(100, 211, 211, 0.4);
    width: 356px;
  }
}

@media screen and (min-width: 44em) and (max-width: 74em) {
  .main-container {
    padding: 0rem 2rem;
    font-size: 1.1rem;
    margin: 4rem auto; 
  } 

  .header-content {
    margin-left: auto;
  }
  
  .contact-form-container {
    padding: 2rem 4rem;
  }
  
  .portrait-image {
    box-shadow: 0px 0px 40px rgba(100, 211, 211, 0.4);
  }
}

@media screen and (max-width: 50em) {
  .external-links {
    display: list-item;
    text-align: right;
  }

  .external-link {
    padding: 0;
  }

  .portrait-side-content {
    display: none;
  }

  .portrait-pre-content {
    display: block;
  }
  
  .portrait-image {
    width: 356px;
  }
}

@media screen and (max-width: 44em) {
  .main-container {
    margin: 4rem 2rem;
    font-size: 1rem;
  }

  .header-content {
    margin-left: auto;
  }
  
  .contact-form-container {
    padding: 1rem 2rem;
  }
  
  .portrait-image {
    box-shadow: 0px 0px 25px rgba(100, 211, 211, 0.4);
    width: 256px;
  }
}