* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #545456;
  background: linear-gradient(210deg, #c5fffb, #3c4e4e) no-repeat fixed;
}

a {
  color: #d8d64c;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s; 
}
  
a:hover {
  color: rgb(100, 211, 211);
  text-shadow: 1px 1px 1px #545456;
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  font-family: "Roboto", "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
  color: #545456;
  display: flex;
}

.page-header-text {
  position: relative;
  left: 10px;
}

.project-name {
  font-size: 1.75rem;
  font-family: "Bevan", serif;
  font-weight: normal;
  margin: 0;
}

.project-tagline {
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

.main-container {
  background-color: white;
  border-radius:8px;
}
.main-container :first-child {
  margin-top: 0; }
.main-container img {
  filter: drop-shadow(0px 0px 1px #545456);
  max-width: 100%; 
}
.main-container p {
  margin-bottom: 1em; }
.main-container code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-container pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-container pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-container .highlight {
  margin-bottom: 1rem; }
  .main-container .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-container .highlight pre, .main-container pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-container pre code, .main-container pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-container pre code:before, .main-container pre code:after, .main-container pre tt:before, .main-container pre tt:after {
    content: normal; }
.main-container ul, .main-container ol {
  margin-top: 0; }
.main-container blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-container blockquote > :first-child {
    margin-top: 0; }
  .main-container blockquote > :last-child {
    margin-bottom: 0; }
.main-container table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-container table th {
    font-weight: bold; }
  .main-container table th, .main-container table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-container dl {
  padding: 0; }
  .main-container dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-container dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-container hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

.external-links {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.external-links .external-link {
  font-weight: bold;
  font-family: "Roboto", "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
}

.external-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #545456;
  font-size: larger;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, text-shadow 0.15s ease-in-out;
}

.external-link:hover, .external-link:focus {
  color: rgb(100, 211, 211);
  text-shadow: 1px 1px 1px #545456;
  text-decoration: none;
}

@media screen and (min-width: 84em) {  
  .main-container {
    max-width: 84rem;
    padding: 2rem 6rem;
    margin: 4rem auto;
    font-size: 1.1rem; 
  } 

  .header-content {
    margin-left: auto;
  }
}

@media screen and (min-width: 42em) and (max-width: 84em) {
  .main-container {
    padding: 2rem 2rem;
    font-size: 1.1rem;
    margin: 6px 6px 10px 6px; 
  } 

  .header-content {
    margin-left: auto;
  }
}

@media screen and (max-width: 50em) {
  .external-links {
    display: list-item;
    text-align: right;
  }

  .external-link {
    padding: 0;
  }
}

@media screen and (max-width: 42em) {
  .main-container {
    padding: 2rem 1rem;
    font-size: 1rem;
    margin: 6px 6px 10px 6px; 
  }

  .header-content {
    margin-left: auto;
  }
}

.main-content {
  margin-top: 2rem;
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }